<div id="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="card shadow mb-4 mt-5">
      <div class="card-header py-3">
        <h5>Create Product</h5>
      </div>
      <div class="alert alert-danger mt-2 d-none" role="alert" id="error_message">
      </div>

      <div class="alert alert-success mt-2 d-none" role="alert" id="success_message">
      </div>
      <form class="form-horizontal mt-3">
        <!-- Text input-->
        <div class="form-group d-flex justify-content-center">
          <div class="col-md-8 d-flex">
            <label class="col-md-2">Product Name<span style="color: red;">(*)</span></label>
            <input
              id="product_name"
              name="product_name"
              placeholder="PRODUCT NAME"
              class="form-control input-md"
              required
              type="text"
            />
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group d-flex justify-content-center">
          <div class="col-md-8 d-flex">
            <label class="col-md-2">Category<span style="color: red;">(*)</span></label>
            <select
              id="product_category"
              name="product_categorie"
              class="form-control"
              selected="PRODUCT CATEGORY"
            >
              <% categories.forEach((category) => { %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group d-flex justify-content-center">
          <div class="col-md-8 d-flex">
            <label class="col-md-2">Quantity<span style="color: red;">(*)</span></label>
            <input
              id="product_quantity"
              name="product_quantity"
              placeholder="AVAILABLE QUANTITY"
              class="form-control input-md"
              required
              type="text"
            />
          </div>
        </div>

        <div class="form-group d-flex justify-content-center">
          <div class="col-md-8 d-flex">
            <label class="col-md-2">Price<span style="color: red;">(*)</span></label>
            <input
              id="product_price"
              name="product_price"
              placeholder="PRICE PER PRODUCT ($)"
              class="form-control input-md"
              required
              type="text"
            />
          </div>
        </div>

        <div class="form-group d-flex justify-content-center">
          <div class="col-md-8 d-flex">
            <label class="col-md-2">Description<span style="color: red;">(*)</span></label>
            <textarea
              id="product_description"
              name="product_description"
              placeholder="PRODUCT DESCRIPTION"
              class="form-control input-md"
              required
            >
            </textarea>
          </div>
        </div>

        <div class="form-group d-flex justify-content-center">
          <div class="col-md-8 d-flex">
            <label class="col-md-2 d-flex">Product size<span style="color: red;">(*)</span></label>

            <input
              id="product_available_size"
              name="product_available_size"
              placeholder="XL"
              class="form-control input-md product_available_size"
              type="text"
            />

            <button
            id="add_available_size"
            name="add_available_size"
            class="btn btn-primary ml-2"
            type="button"
          >
            Add avaiable size
          </button>
          </div>
        </div>

        <div class="row js-available-size justify-content-center">
        </div>

        <!-- File Button -->
        <div class="form-group d-flex justify-content-center mt-3">
          <div class="col-md-8 d-flex">
            <label class="col-md-2 d-flex">Image<span style="color: red;">(*)</span></label>

            <input
              id="input-multi-files"
              name="input-multi-files"
              class="input-file"
              type="file"
              multiple
            />
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="preview-images">
            </div>
          </div>
        </div>

        <!-- Button -->
        <div class="row justify-content-center mt-5">
          <div class="col-md-2">
            <button
              id="js-newProduct"
              name="singlebutton"
              class="btn btn-primary btn-lg btn-block"
              type="button"
              >
              Save
            </button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-light btn-lg btn-block">
              <a href="/admin/products" style="text-decoration: none;">Cancel</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  $(() => {
    let formData = new FormData();

    let available_size = []

    let imagesPreview = function(input, placeToInsertImagePreview) {
    if (input.files) {
      let filesAmount = input.files.length;
      for (i = 0; i < filesAmount; i++) {
        let reader = new FileReader();
        reader.onload = function(event) {
          $($.parseHTML("<img>"))
            .attr("src", event.target.result)
            .addClass("img-fluid col-md-3")
            .appendTo(placeToInsertImagePreview);
        };
        reader.readAsDataURL(input.files[i]);
      }
    }
  };

  $("#add_available_size").click(function() {
    let html = `
          <div class="col-md-7 d-flex mt-2">
            <label class="col-md-2"></label>
            <input
              id="product_available_size"
              name="product_available_size"
              placeholder="XL"
              class="form-control input-md product_available_size"
              type="text"
            />
            <button
            id="remove_available_size"
            name="remove_available_size"
            class="btn btn-danger ml-2 delete_available_size"
            type="button">
              Remove
            </button>
          </div>
    `

    available_size.push($("#product_available_size").val())
    $(".js-available-size").append(html)
  })

  $(document).on("click", "[class*='delete_available_size']", function() {
      $(this).parent().remove();
    });

  $("#input-multi-files").on("change", function() {
    imagesPreview(this, "div.preview-images");

    let html = `
                <div class="col-md-7 mt-2 d-flex">
                  <label class="col-md-2"></label>
                    <input
                      id="product_image_name"
                      name="image_name"
                      placeholder="IMAGE NAME(DARK RED)"
                      class="form-control input-md product_image_name"
                      required
                      type="text"
                    />
               </div>
                <div class="col-md-7 mt-2 mb-2 d-flex">
                  <label class="col-md-2"></label>
                  <input
                    id="product_image_hex_code"
                    name="image_hex_code"
                    placeholder="IMAGE HEX CODE(#ffff)"
                    class="form-control input-md product_image_hex_code"
                    required
                    type="text"
                  />
                </div>
                `

    $(".preview-images").append(html)
    formData.append('files', $('input[type=file]')[0].files[0]);
  });

    $('#js-newProduct').click(function() {
      const product_available_size_selector = $(".product_available_size")

      let product_available_size = []

      for(let i = 0; i < product_available_size_selector.length; i++) {
        product_available_size.push(product_available_size_selector.eq(i).val())
      }

      const product_image_hex_code_selector = $('.product_image_hex_code');

      let product_image_hex_code = []

      for(let i = 0; i < product_image_hex_code_selector.length; i++) {
        product_image_hex_code.push(product_image_hex_code_selector.eq(i).val())
      }

      const product_image_name_selector = $('.product_image_name');

      let product_image_name = []

      for(let i = 0; i < product_image_hex_code_selector.length; i++) {
        product_image_name.push(product_image_name_selector.eq(i).val())
      }
      console.log("product_image_name", product_image_name)
      console.log("product_image_hex_code", product_image_hex_code)
      console.log("product_available_size", product_available_size)

      let body = {
        name:  $("#product_name").val(),
        description:  $("#product_description").val(),
        category_id: $('#product_category').find(":selected").val(),
        quantity: $('#product_quantity').val(),
        price: $('#product_price').val(),
        image_name: product_image_name,
        image_hex_code: product_image_hex_code,
        available_size: product_available_size
      }

      const success_message = $("#success_message");
      success_message.addClass("d-block")
      success_message.append("...Uploading image...")

      $.ajax({
        url: "/upload",
        method: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
          success_message.html("Upload image success, uploading product....!");
          body.product_images = data.urls

          $.ajax({
            url: "/admin/products",
            method: "POST",
            dataType : "JSON",
            data: body,
            success: function(data) {
              success_message.html("Upload product success");
            },
            error: function(data) {
              const error_message = $("#error_message");
              error_message.addClass("d-block")
              error_message.append("${data.error}")
            }
          })
        },
        error: function(data) {
          const error_message = $("#error_message");
          error_message.addClass("d-block")
          error_message.append("${data.error}")
        }
      })

    })
  })
</script>
